/*IMPORTANT: SITE COLOR PALETTE
	GREEN= #8bcd85
	BLUE= #263864
	WHITE= #f7f3f3
	OFF WHITE-GREEN= #b7d3b5
	DARK GRAY= #837788
	LIGHT GRAY= #948093
	HIGHLIGHTER GREEN= #11cd00
	HIGHLIGHTER BLUE= #0034b3
	OFF-TONED GRAY= #d1c9d1
*/
*{
	box-sizing: border-box;
}
html{
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: #0034b3; /*highlighter blue*/
	transition: all .2s ease-in-out;
}
a:hover{
	color: red;
}
/*START OF HEADER CODE*/
header{
	background-color: #8bcd85; /*green*/
	padding: 15px;
}
header a{
	color: #f7f3f3; /*white*/
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
}
header .logo-area{
	color: #f7f3f3; /*white*/
	display: inline-block;
	width: 20%;
	margin-left: -4px;
}
header .logo-area a{
	color: #f7f3f3; /*white*/
	text-decoration: none;
	font-size: 20px;
}
header .menu{
	display: inline-block;
	width: 20%;
	margin-left: -4px;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	text-align: right;
	padding-right: 20px;
}
header .menu ul li{
	display: inline-block;
}
header .menu ul li a{
	margin-right: 20px;
}
header .icon-links .quick-options{
	display: inline-block;
	margin-left: -4px;
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	padding-right: 20px;
}
header .icon-links{
	display: inline-block;
	width: 20%;
	margin-left: -4px;
	padding-left: 20px;
}
header .icon-links ul li{
	display: inline-block;
	margin-right: 10px;
}
header .icon-links .privacy{
	display: inline-block;
	color: #f7f3f3; /*white*/
	font-size: 16px;
	margin-left: -4px;
	padding-left: 10px;
}
header .search-area{
	display: inline-block;
	width: 40%;
	margin-left: -4px;
	text-align: right;
}
header .search-area input{
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	background: transparent;
	color: #f7f3f3; /*white*/
}
header .search-area ul li{
	display: inline-block;
	color: #f7f3f3; /*white*/
	font-size: 16px;
}
/*END OF HEADER CODE*/
/*START OF TOP-AREA CODE*/
#top-area{
	padding: 200px 15px 90px 15px;
	background:
			url(https://media.istockphoto.com/vectors/abstract-circuit-hi-tech-pattern-technology-innovation-frame-concept-vector-id627915818?k=6&m=627915818&s=612x612&w=0&h=If-YPka-Vy0JY_uLL3Am7xlTrDXaz49_nlW--Xn0XCg=) no-repeat center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
}
#top-area .profile-info .user-img{
	padding: 10px;
	display: inline-block;
}
#top-area .profile-info .user-img img{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
#top-area .profile-info .user-details{
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
}
#top-area .profile-info .user-details h3{
	color: #f7f3f3; /*white*/
	font-size: 24px;
	font-weight: 300;
	margin-top: 40px;
	margin-bottom: 10px;
}
#top-area .profile-info .user-details a{
	display: inline-block;
	margin-left: -4px;
	margin-right: 5%;
	width: 45%;
	text-align: center;
	text-transform: uppercase;
	color: #f7f3f3; /*white*/
	font-size: 10px;
	padding: 10px;
	border-radius: -webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	background: rgba(255, 255, 255, 0.3);
	transition: background .4s ease-in-out;
}
#top-area .profile-info .user-details a:hover{
	background: #000a66; /*HIGHLIGHTER BLUE*/
}
/*END OF TOP-AREA CODE*/
/*START OF CONTENT-AREA CODE*/
#content-area{
	background: #b7d3b5; /*off white green*/ 
	overflow: auto;
	padding: 50px 0px;
}
#content-area .widget-box{
	padding: 15px;
	background: #f7f3f3; /*white*/
	margin: 0px 0px 15px 0px;
	border-radius: 3px;
	box-shadow: 5px 5px 1px #aaaaaa;
	overflow: auto;
}
#content-area .widget-box .head{

}
#content-area .widget-box .head .widget-icon-container{
	display: inline-block;
}
#content-area .widget-box .head .widget-icon{
	background: #948093; /*light gray*/ 
	height: 40px;
	width: 40px;
	border-radius: 50%;
	color: #f7f3f3; /*white*/
	display: flex;
    align-items: center;
    justify-content: center;
}
#content-area .widget-box .head .widget-icon .fa{
	max-width: 50%;
	font-size: 22px;
}
#content-area .widget-box .head .widget-title{
	display: inline-block;
	padding: 0px 0px 0px 10px;
}
#content-area .widget-box .body{
	padding: 20px 0px;
}
#content-area .side-column{
	float: left;
	width: 35%;
	margin: 0 2.5%;
	max-width: 380px;
}
#content-area .main-area{
	float: left;
	width: 55%;
	margin: 0 2.5%;
}
#content-area .main-area .widget-box .submenu{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}
#content-area .main-area .submenu ul{
	padding: 0;
}
#content-area .main-area .submenu ul li{
	display: inline-block;
	padding: 10px;
	width: 20%;
	float: left;
	text-align: center;
	border-bottom: 3px solid #f7f3f3; /*white*/
	transition: all .4s ease-in-out;
	cursor: pointer;
}
#content-area .main-area .submenu ul li:hover{
	border-bottom: 3px solid #11cd00; /*highlighter green*/
	color: #11cd00; /*highlighter green*/
}
#content-area .main-area .submenu ul li:nth-child(5){
	padding: 28px 0 21px;
}
#content-area .main-area .submenu ul li .fa{
	font-size: 20px;
}
#content-area .main-area .submenu ul li span{
	display: block;
	margin: 15px 0 0 0;
	font-size: 14px;
	text-transform: uppercase;
}
#content-area .main-area .post{
	overflow: auto;
}
#content-area .main-area .post .post-head{
	padding: 0 0 15px 0;
}
.user-img-container{
	width: 8%;
	display: inline-block;
	overflow: auto;
	float: left;
}
#content-area .main-area .post .post-head .user-face{
	display: inline-block;
	float: left;
	background:
			url(https://images.unsplash.com/photo-1508285296015-c0b524447532?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin: 0 15px 0 0;
}
#content-area .main-area .post .post-head .post-info{
	display: inline-block;
	float: left;
	width: 92%;
}
#content-area .main-area .post .post-head::after{
	content: " ";
	clear: both;
	display: table;
}
#content-area .main-area .post .post-head .user-info{
	display: block;
	font-size: 14px;
	margin: 4px 0 6px 0;
}
#content-area .main-area .post .post-head .post-date{
	display: block;
	font-size: 12px;
	color: #948093; /*light gray*/
}
#content-area .main-area .post .post-body{
	padding: 0;
}
#content-area .main-area .post .post-body .top-icons i{
	display: inline-block;
	color: #837788; /*dark gray*/
	font-size: 20px;
	margin: 0 15px 0 0;
	padding: 10px 0;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
#content-area .main-area .post .post-body .top-icons i:hover{
	color: #11cd00; /*highlighter green*/
}
#content-area .main-area .post .post-body .top-icons .comment-icon{
	float: right;
	display: inline-block;
	font-size: 20px;
	color: #837788;
}
#content-area .main-area .post .post-body .post-comments img{
	border-radius: 50%;
	height: 40px;
	width: 40px;
}
#content-area .main-area .post .post-body .post-comments{
	background: #d1c9d1; /*off-toned gray*/
	margin: 5px -15px;
	padding: 5px;
}
#content-area .main-area .post .post-body .post-img img{
	width: 100%;
	margin: 10px 0;
}
#content-area .main-area .post .post-body .post-comments .commenter-img{
	float: left;
	display: inline-block;
	overflow: auto;
	margin: 0 15px 0 0;
}
#content-area .main-area .post .post-body .post-comments::after{
	content: " ";
	clear: both;
	display: table;
}
#content-area .main-area .post .post-body .post-comments .comment-info{
	display: inline-block;
	float: left;
	width: 92%;
	font-size: 14px;
	margin: 0 0 15px 0;
}
#content-area .main-area .post .post-body .post-comments .comment-info span{
	float: right;
}
#content-area .main-area .post .post-body .post-comments .comment-info .commenter-info{
	margin: 0 0 10px 0;
}
#content-area .main-area .post .post-body .post-form{
	padding: 15px 0 0 0;
}
#content-area .main-area .post .post-body .post-form img{
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin: 10px 0;
}
#content-area .main-area .post .post-body .post-form{
	margin: 5px -15px;
	padding: 5px;
}
#content-area .main-area .post .post-body .post-form .add-comment-img{
	float: left;
	display: inline-block;
	overflow: auto;
	margin: 0 15px 0 0;
}
#content-area .main-area .post .post-body .post-form::after{
	content: " ";
	clear: both;
	display: table;
}
#content-area .main-area .post .post-body .post-form .comment-info{
	display: inline-block;
	float: left;
	width: 92%;
	font-size: 14px;
	margin: 0 0 15px 0;
	padding: 10px 0;
}
#content-area .main-area .post .post-body .post-form .comment-info .icons{
	float: right;
	display: inline-block;
}
#content-area .main-area .post .post-body .post-form .icons i{
	color: #837788; /*dark gray*/
	font-size: 20px;
	margin: 0 15px 0 0;
	padding: 10px 0;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
#content-area .main-area .post .post-body .post-form .icons i:hover{
	color: #11cd00; /*highlighter green*/
}
#content-area .main-area .post .post-body .post-form .comment-info input{
	width: 85%;
	height: 40px;
	outline: none;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	background: transparent;
}
/*START OF AD CODE*/
.background-img-container{
	margin-top: -40px;
}
.background-img-container img{
	height: auto;
	width: 100%;
	
}
.ad-icon{
	background: #948093; /*light gray*/ 
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: inline-block;
	z-index: 2;
	position: relative;
	top: 20px;
	left: 20px;
}
.ad-icon i{
	color: #ffffff;
	font-size: 1.2rem;
	position: relative;
	top: 10px;
	left: 7px;
	transform: rotate(-25deg);
}
.message-container{
	background-color: rgba(13, 12, 12, 0.4);
	position: relative;
	bottom: 173px;
	color: #221f1f;
	height: 160px;
}
.sponsor-title{
	color: #e5cdcd;
	display: block;
	font-weight: 500;
	font-size: 25px;
	padding: 5px 15px;
}
.sponsor-sentence{
	display: inline-block;
	float: left;
	color: #e5cdcd;
	font-weight: 500;
	padding: 5px 15px;
}
.sponsor-time{
	color: #e5cdcd;
	font-weight: 500;
	display: inline-block;
	position: relative;
	top: 20px;
	right: 362px;
	padding-top: 10px;
}
.like-btn{
	font-size: 1.5rem;
	float: right;
	color: #e5cdcd;
	padding-right: 15px;
	position: relative;
	top: 30px;
	transition: all .4s ease-in-out;
	cursor: pointer;
}
.like-btn i:hover{
	color: #11cd00; /*highlighter green*/
}

.sponsor-dropdown{
	position: relative;
	bottom: 200px;
	margin: 0;
}
.sponsor-date{
	color: #e5cdcd;
	text-align: center;
	float: left;
	display: inline-block;
	padding: 10px 15px;
}
.down-icon{
	color: #e5cdcd;
	text-align: center;
	font-size: 1.5rem;
	float: right;
	display: inline-block;
	padding: 10px 15px;
}
/*END OF AD CODE*/
#footer{
	padding: 20px;
	position: relative;
	text-align: center;
	background: #b7d3b5; /*off white green*/ 
	font-size: 2.3rem;
	color: #837788;
}
#footer a{
	color: #837788;
	transition: all .4s ease-in-out;
	cursor: pointer;
}
#footer a:hover{
	color: #11cd00; /*highlighter green*/
}
/*END OF CONTENT-AREA CODE*/
/**********************************************************************************************/

/*****RESPONSIVE CODE*******/
/*START OF MEDIA QUERIES*/
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  header .logo-area a {
    font-size: 1.8rem;
  }
  header a {
    font-size: 20px;
  }
  header .search-area {
    margin-left: -10px;
  }
  header .search-area ul li {
    font-size: 20px;
  }
  #top-area .profile-info .user-details h3 {
    font-size: 2rem;
  }
  #top-area .profile-info .user-details a {
    font-size: 15px;
  }
  /*START OF CONTENT-AREA CODE*/
  #content-area .side-column {
    display: none;
  }
  #content-area .main-area {
    width: 100%;
    margin: 0 auto;
  }
  #content-area .main-area .submenu ul li span {
    font-size: 20px;
  }
  #content-area .main-area .submenu ul li .far,
  #content-area .main-area .submenu ul li .fas{
    font-size: 1.8rem;
  }
  #content-area .main-area .post .post-head .user-face {
    height: 60px;
    width: 60px;
  }
  #content-area .main-area .post .post-head .user-info {
    font-size: 1.4rem;
  }
  #content-area .main-area .post .post-head .post-date {
    font-size: 1.2rem;
  }
  #content-area .main-area .post .post-body .top-icons i, 
  #content-area .main-area .post .post-body .top-icons .comment-icon {
    font-size: 2rem;
  }
  #content-area .main-area .post .post-body .post-comments img,
  #content-area .main-area .post .post-body .post-form img {
    height: 60px;
    width: 60px;
  }
  #content-area .main-area .post .post-body .post-comments .comment-info {
    font-size: 1.6rem;
  }
  #content-area .main-area .post .post-body .post-form .comment-info input {
    font-size: 1.6rem;
  }
  #content-area .main-area .post .post-body .post-form .icons i {
    font-size: 30px;
  }
  .ad-icon {
    width: 60px;
    height: 60px;
    position: relative;
    top: 40px;
    left: 30px;
  }
  .ad-icon i {
    font-size: 30px;
    position: relative;
    top: 14px;
    left: 10px;
  }
 .message-container {
    position: relative;
    bottom: 0px;
  }
  .sponsor-title {
    font-size: 35px;
  }
  .sponsor-sentence {
    font-size: 30px;
  }
  .sponsor-time {
    display: block;
    position: relative;
    top: 40px;
    right: 665px;
    font-size: 25px;
  }
  .like-btn {
    position: relative;
    top: 10px;
    left: 8px;
    font-size: 1.8rem;
  }
  .sponsor-dropdown {
    position: relative;
    bottom: 0px;
  }
  .sponsor-date {
    color: #221f1f;
    font-size: 1.3rem;
  }
  .down-icon{
    color: #221f1f;
  }
  /*END OF CONTENT-AREA CODE*/
  /*START OF FOOTER CODE*/
  #footer {
    display: none;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /*START OF HEADER CODE*/
  header {
    padding: 10px;
    height: 100px;
  }
  header .logo-area a {
    font-size: 50px;
    position: relative;
    top: 10px;
  }
  header .menu {
    display: none;
  }
  header .icon-links {
    width: 40%;
  }
  header .icon-links .quick-options {
    border-right: none;
  }
  header .icon-links ul li:nth-child(1),
  header .icon-links ul li:nth-child(3){
    display: none;
  }
  header .icon-links ul li:nth-child(2){
    width: 70px;
    height: 70px;
    background: #708c6d;
    border-radius: 50%;
    position: relative;
    left: 600px;
  }
  header .icon-links ul li:nth-child(2) a{
    font-size: 40px;
    position: relative;
    top: 15px;
    left: 15px;
  }
  header .icon-links .privacy {
    display: none;
  }
  header .search-area ul li:nth-child(1){
    width: 70px;
    height: 70px;
    background: #708c6d;
    border-radius: 50%;
    position: relative;
    bottom: 10px;
  }
  header .search-area ul li:nth-child(1) .fas{
    font-size: 30px;
    position: relative;
    top: 20px;
    right: 20px;
  }
  header .search-area ul li:nth-child(2),
  header .search-area ul li:nth-child(3){
    display: none;
  }
  /*END OF HEADER CODE*/
  /*START OF TOP-JUMBO CODE*/
  #top-area {
    display: none;
  }
  /*END OF TOP-JUMBO CODE*/
  /*START OF CONTENT-AREA CODE*/
  #content-area .side-column {
    display: none;
  }
  #content-area .main-area {
    width: 100%;
    margin: 0 auto;
  }
  #content-area .main-area .submenu ul li {
    font-size: 2.0rem;
  }
  #content-area .main-area .post .post-head .user-face {
    height: 60px;
    width: 60px;
  }
  #content-area .main-area .post .post-head .user-info {
    font-size: 25px;
  }
  #content-area .main-area .post .post-head .post-date {
    font-size: 20px;
  }
  #content-area .main-area .post .post-body .top-icons i {
    font-size: 30px;
  }
  #content-area .main-area .post .post-body .top-icons .comment-icon {
    font-size: 30px;
  }
  #content-area .main-area .post .post-body .post-comments img {
    height: 60px;
    width: 60px;
  }
  #content-area .main-area .post .post-body .post-comments .comment-info {
    font-size: 20px;
  }
  #content-area .main-area .post .post-body .post-form img {
    height: 60px;
    width: 60px;
  }
  #content-area .main-area .post .post-body .post-form .comment-info input {
    font-size: 20px;
  }
  #content-area .main-area .post .post-body .post-form .icons i {
    font-size: 30px;
  }
  .ad-icon {
    width: 60px;
    height: 60px;
    position: relative;
    top: 40px;
    left: 30px;
  }
  .ad-icon i {
    font-size: 30px;
    position: relative;
    top: 14px;
    left: 10px;
  }
 .message-container {
    position: relative;
    bottom: 0px;
  }
  .sponsor-title {
    font-size: 35px;
  }
  .sponsor-sentence {
    font-size: 30px;
  }
  .sponsor-time {
    display: block;
    position: relative;
    top: 40px;
    right: 665px;
    font-size: 25px;
  }
  .like-btn {
    position: relative;
    top: 10px;
    left: 8px;
    font-size: 1.8rem;
  }
  .sponsor-dropdown {
    position: relative;
    bottom: 0px;
  }
  .sponsor-date {
    color: #221f1f;
    font-size: 1.3rem;
  }
  .down-icon{
    color: #221f1f;
  }
  /*END OF CONTENT-AREA CODE*/
  /*START OF FOOTER CODE*/
  #footer {
    display: none;
  }
  /*END OF FOOTER CODE*/
}
/*END OF MEDIA QUERIES*/
/************/
